# In Expo, any environment variables starting with EXPO_PUBLIC_ are automatically bundled into your app when you compile the APK.

# Change this to your Vercel URL once you deploy the backend.
# Do not add a trailing slash. Example: https://my-backend.vercel.app/api

# For local development (Use your computer's local IP address, e.g. 192.168.1.X, if testing on Android)
EXPO_PUBLIC_API_URL=http://localhost:5000/api
# EXPO_PUBLIC_API_URL=http://192.168.1.2:5000/api
# EXPO_PUBLIC_API_URL=https://your-production-backend-url.vercel.app/api
